<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hot Secrets</title>
</head>
<body>
    <h1>Top all most hottest secrets</h1>
    <a href="{% url 'secrets:index' %}"><button>Back</button></a>
    {% for secret in secrets %}
    <div class="secret">
        <h5>{{ secret.created_at }}</h5>
        <p class="secret_content">{{ secret.content }}</p>
        <p>{{ secret.likes.count }}</p>
        {% if logged_in_user not in secret.likes.all %}
        <a href="{% url 'secrets:like' secret.id %}" class="like_secret"><button class="like_button">Like</button></a>
        {% endif %}
        {% if secret.secret_creator.id == request.session.user.user_id %}
            <p>You posted this.</p>
            <a href="{% url 'secrets:destroy' secret.id %}" class="delete_secret"><button class="delete_button">Delete Secret</button></a>
        {% endif %}
    {% endfor %}
    </div><!--  /.secret -->
    {% if not secrets %}
        <p class="nothing">No secrets here...</p>
    {% endif %}
</body>
</html>