<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shhhhh...</title>
</head>

<body>
    <h1>DojSecrets</h1>
    <h2>Ab frpergf urer... ;)</h2>
    <a href="{% url 'secrets:logout' %}"><button>Logout</button></a>
    <form action="{% url 'secrets:secret' %}" method="POST">
            {% csrf_token %}
        <p><textarea name="new_secret" class="secret_field"></textarea></p>
        <p><input type="submit" value="Secret" class="secret_submit"></p>
    </form>
        {% if messages %}
            {% for message in messages %}
                <h5>{{ message }}</h5>
            {% endfor %}
        {% endif %}
        {% for secret in secrets %}
        <div class="secret">
            <h5>{{ secret.created_at }}</h5>
            <p class="secret_content">{{ secret.content }}</p>
            <p>{{ secret.likes.count }}</p>
            <a href="{% url 'secrets:like' secret.id %}" class="like_secret"><button class="like_button">Like</button></a>
            {% if secret.secret_creator.id == request.session.user.user_id %}
                <p>You posted this.</p>
                <a href="{% url 'secrets:destroy' secret.id %}" class="delete_secret"><button class="delete_button">Delete Secret</button></a>
            {% endif %}
        {% endfor %}
        </div><!--  /.secret -->
        {% if not secrets %}
            <p class="nothing">No secrets here...</p>
        {% endif %}
</body>

</html>
